.grid-expander-fix{
	padding-left: 50px;
}

/*фон панелей*/
.alt-background{
  background-color: #e9f1fa;
}

/*отступ для ячеек грида*/
.x-grid-cell { 
	padding-top: 0px; 
	padding-bottom: 0px; 
}

/*заголовки грида*/
.x-column-header-inner .x-column-header-text {
  font-weight: bold;
  white-space: normal;
}

.x-column-header-inner {
	text-align: center;
}

.x-grid-cell-inner {
	white-space: normal
}

.x-grid-row-alt .staff-deleted-row .x-grid-cell {
	color: #909090;
}

.deleted-row .x-grid-cell { 
	color: #909090;
}

.doc-img {
	background-image: url(images/doc.png) !important;
}

.report-img {
	background-image: url(images/report.png) !important;
}

.add-img {
	background-image: url(images/add.png) !important;
}

.delete-img {
	background-image: url(images/delete.png) !important;
}